{% extends 'base_store.html' %}
{% load static %}

{% block content %}

<div class="product basket">

            <form action="{% url 'store:basket' %}" method="POST" enctype="multipart/form-data">

            {% csrf_token %}
                {% for post in posts %}
            <div class="pack">
                <img src="{{ post.photo.url }}" alt="">
                    <p class="title">{{ post.title }}</p>
                    <p class="price">{{ post.price }} ₽ - {{ post.count }}</p>
                    <button name="delete_item" class="btn-cancel" value="{{ post.id }}"><img src="{% static 'store/images/cancel.png' %}" alt=""></button>
            </div>
                {% endfor %}
            <button name="order" class="submit-buy">Заказать</button>
                </form>
            </div>



                {% endblock %}