{% extends 'base_store.html' %}
{% load static %}

{% block content %}

<div class="column list">

            {% for post in posts %}
            <div class="card">
                <a href="{{ post.get_absolute_url }}">
                    <div class="text-card">
                        <div class="card-image">
                            <img src="{{ post.photo.url }}" alt="Товар">
                        </div>
                        <p class="title">
                            {{ post.title }}
                        </p>
                        <p class="price">
                            {{ post.price }} ₽
                        </p>
                    </div>
                </a>
            </div>
            {% endfor %}



        </div>
        <div class="column">

        </div>

{% endblock %}