{% extends 'base_store.html' %}
{% load static %}

{% block content %}


<div class="product">
                <img src="{{ post.photo.url }}" alt="">
                <h1>{{ post.title }}</h1>
                <p>{{ post.price }} ₽</p>
                <p>{{ post.description }}</p>
<form method="post" action="">
    {% csrf_token %}
    <button type="submit" id="buy" name="buy" class="button-buy">Купить</button>
</form>
</div>
        <div class="column">

    </div>

{% endblock %}
