{% extends 'base.html' %}
{% load static %}
{% load nav_active_tag %}

{% block content %}

<div class="content">
        <div class="column">

        </div>
        <div class="content-text">
            <h1 class="animation" style="text-align: center; margin-bottom: 0;">{{ title }}</h1>
            {% for post in posts %}
            <h2 class="animation" style="margin-top: 0;">{{ post.title }}</h2>
            <p class="animation">{{ post.description }}
                {% if post.photo %}
                <div class="post">

                <img src="{{ post.photo.url }}" class="post-img" onclick="openFullscreen(this)">


                </div>
                {% endif %}
            <div id="modal" class="modal">
            <span class="close" onclick="closeFullscreen()">&times;</span>
                <img id="modal-content">
                </div>


                <p class="animation">Leetcode аккаунт: </p>
                <span>
                    <button type="button" class="link" onclick="window.open('{{ post.code }}', '_blank')">Перейти</button>
                </span>




                </p>

                <p class="animation">Репозиторий с решенными задачами: </p>
                <span>
                <button type="button" class="link" onclick="window.open('{{ post.href }}', '_blank')">Перейти</button>
                </span>





            {% endfor %}
        </div>



        <div class="column">

        </div>

</div>
{% endblock %}