{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
        <div class="main-content">
                <h1 class="animation">Welcome to Artopia</h1>
                <p class="animation">This is not just a project, it is an idea.</p>
                <p class="animation">The idea that everyone who shares creativity first of all does it for themselves.</p>
        </div>
        <div class="yin-yang">
            <img src="{% static 'art/images/yin-yang.webp' %}" alt="fff">
        </div>
    </div>
    <div class="content">
        <div class="column">
        </div>
        <div class="content-text">
                <h2 class="animation">What is Artopia about?</h2>
                <p class="animation">    &nbsp;&nbsp;&nbsp;&nbsp;Hello everyone, this is my site! You could say this is an improved resume that shows my work. </p>
                <p class="animation">
                    &nbsp;&nbsp;&nbsp;&nbsp;Overall, Artopia is a site that is created solely for me to store my creations, which I think are beautiful.
                </p>
                <p class="animation">&nbsp;&nbsp;&nbsp;&nbsp;But it was also created for my realization, because I do all this primarily for myself</p>
                <p class="animation">&nbsp;&nbsp;&nbsp;&nbsp;But it was posted on the Internet so that other people, having seen it, would also want to do something, realize themselves and</p>
            <div class="main-text">
                <h2 class="animation first">Create</h2>
                <h2 class="animation second">In the image and likeness...</h2>

            </div>


        </div>
        <div class="column">
        </div>
    </div>
{% endblock %}