{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
        <div class="main-content">
                <h1 class="animation">Добро пожаловать в Artopia</h1>
                <p class="animation">Это не просто проект, это идея.</p>
                <p class="animation">Идея, что каждый, кто делится творчеством, в первую очередь делает это для себя.</p>
        </div>
        <div class="yin-yang">
            <img src="{% static 'art/images/yin-yang.webp' %}" alt="fff">
        </div>
    </div>
    <div class="content">
        <div class="column">
        </div>
        <div class="content-text">
                <h2 class="animation">О чём Artopia?</h2>
                <p class="animation">    &nbsp;&nbsp;&nbsp;&nbsp;Всем привет, это мой сайт! Можно сказать, это улучшенное резюме, которое показывает мои работы. </p>
                <p class="animation">
                    &nbsp;&nbsp;&nbsp;&nbsp;В целом Artopia - это сайт, который создан исключительно для того, чтобы я мог хранить свои творения, которые я считаю прекрасными.
                </p>
                <p class="animation">&nbsp;&nbsp;&nbsp;&nbsp;Но также он создан для моей реализации, ведь это всё я делаю в первую очередь для себя</p>
                <p class="animation">&nbsp;&nbsp;&nbsp;&nbsp;Но выложен в интернет он для того, чтобы другие люди, увидев его, тоже захотели чем-нибудь заняться, реализовать себя и</p>
            <div class="main-text">
                <h2 class="animation first">Творить, Создавать</h2>
                <h2 class="animation second">По образу и подобию...</h2>

            </div>


        </div>
        <div class="column">
        </div>
    </div>
{% endblock %}