{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=0, initial-scale=1.0">
        <link rel="icon" href="{% static 'art/images/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'art/images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'store/css/style.css' %}">
    <script src="{% static 'store/js/script.js' %}" defer></script>
    <title>ArtStore</title>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>

</head>
<body>

    <nav>
        <ul>
                <li><a href="{% url 'store:home' %}" class="home"><lord-icon
                    src="https://cdn.lordicon.com/cnpvyndp.json"
                    trigger="hover"
                    style="width:50px;height:50px">
                </lord-icon>ArtStore</a></li>
                <li class="search"> <input type="text"><a href="#" class="btn search">
                    <lord-icon
                        src="https://cdn.lordicon.com/kkvxgpti.json"
                        trigger="hover"
                        style="width:50px;height:50px">
                    </lord-icon>
                </a></li>
                <li class="basket"><a href="{% url 'store:basket' %}"><lord-icon
                    src="https://cdn.lordicon.com/mfmkufkr.json"
                    trigger="hover"
                    style="width:50px;height:50px">
                </lord-icon><p id="alarm" class="num-basket">{{ amount }}</p></a></li>




        </ul>
    </nav>
    <div class="content">

        <div class="column">
            <div class="menu">
                <a href="#" class="advertising">
                    <img src="{% static 'store/images/реклама 1.png' %}" alt="реклама">
                    <p class="text-menu">
                        Реклама!!!
                    </p>
                </a>
                <a href="#" class="advertising">
                    <img src="{% static 'store/images/реклама 2.png' %}" alt="реклама">
                    <p class="text-menu">
                        Реклама!!!
                    </p>
                </a>
                <a href="#" class="advertising">
                    <img src="{% static 'store/images/реклама 4.webp' %}" alt="реклама">
                    <p class="text-menu">
                        Реклама!!!
                    </p>
                </a>


            </div>
        </div>
      {% block content %}
    {% endblock %}
            </div>


</body>
</html>